## Question 1:
__Anova
Three archers – Pat, Jack, and Alex are participating in an archery contest. They are shooting at
targets with 10 evenly spaced concentric rings. The rings have score values from 1 through 10
assigned to them, with 10 being the highest. Each participant shoots 6 arrow, scoring the
following points:
Pat – 5, 4, 4, 3, 9, 4
Jack – 4, 8, 7, 5, 1, 5
Alex – 9, 9, 8, 10, 4, 10
Based on the above results we would like to know who the best archer is. In other words our null
hypothesis is that the means of all populations are equal.__

In [27]:
import pandas as pd
import numpy as np
import statsmodels.api as sm
from statsmodels.formula.api import ols
from scipy import stats

## Setting the null hypothesis
__H0: All Means are same 
H1: At least one is differnt__

### Stting data as dataframe

In [13]:
Pat =[5, 4, 4, 3, 9, 4]
Jack =[4, 8, 7, 5, 1, 5]
Alex =[9, 9, 8, 10, 4, 10]
archer_name = (['Pat']*len(Pat)+['Jack']*len(Jack)+['Alex']*len(Alex))
score = Pat+Jack+Alex
type(Pat)

list

In [16]:
data = pd.DataFrame({'Archer_name':archer_name, 'Score':score})
data

   Archer_name  Score
0          Pat      5
1          Pat      4
2          Pat      4
3          Pat      3
4          Pat      9
5          Pat      4
6         Jack      4
7         Jack      8
8         Jack      7
9         Jack      5
10        Jack      1
11        Jack      5
12        Alex      9
13        Alex      9
14        Alex      8
15        Alex     10
16        Alex      4
17        Alex     10

In [19]:
data.dtypes

Archer_name    object
Score           int64
dtype: object

### Calculating the mean for differnt variable

In [26]:
data_mean = data.groupby('Archer_name')['Score'].mean()
data_mean

Archer_name
Alex    8.333333
Jack    5.000000
Pat     4.833333
Name: Score, dtype: float64

### Carry out the ANOVA:

### Method 1: Using stats.f_oneway

In [35]:
stats.f_oneway(data['Score'][data['Archer_name']=='Pat'],
              data['Score'][data['Archer_name']=='Jack'],
              data['Score'][data['Archer_name']=='Alex'])

F_onewayResult(statistic=4.4882729211087415, pvalue=0.029667763955533364)

### Method 2: Using ols table

In [37]:
lm = ols('score ~ Archer_name',data=data).fit()
table = sm.stats.anova_lm(lm)
table

               df     sum_sq    mean_sq         F    PR(>F)
Archer_name   2.0  46.777778  23.388889  4.488273  0.029668
Residual     15.0  78.166667   5.211111       NaN       NaN

## Decision:
Since, p value is less than 0.05 or 5% which is _0.029668_. We are failed to accept the null hypothesis i.e. all means are equal.

## Conclusion:
There is evidence that one of group mean differs from rest.