## Question 1:
__Use User Data set and show the accuracy through the SVM model.__

In [10]:
import pandas as pd
from sklearn.metrics import accuracy_score, classification_report, recall_score, precision_score, confusion_matrix
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import OneHotEncoder
from sklearn import svm

In [11]:
data = pd.DataFrame(pd.read_csv('User_Data.csv'))
data.head()

    User ID  Gender  Age  EstimatedSalary  Purchased
0  15624510    Male   19            19000          0
1  15810944    Male   35            20000          0
2  15668575  Female   26            43000          0
3  15603246  Female   27            57000          0
4  15804002    Male   19            76000          0

__converting gender coloumn in categorical data__

In [12]:
data['Gender']=data['Gender'].astype('category')

__convert gender coloumn data into number__

In [13]:
data['GenCat'] = data['Gender'].cat.codes

In [14]:
data.corr()

                  User ID       Age  EstimatedSalary  Purchased    GenCat
User ID          1.000000 -0.000721         0.071097   0.007120 -0.025249
Age             -0.000721  1.000000         0.155238   0.622454 -0.073741
EstimatedSalary  0.071097  0.155238         1.000000   0.362083 -0.060435
Purchased        0.007120  0.622454         0.362083   1.000000 -0.042469
GenCat          -0.025249 -0.073741        -0.060435  -0.042469  1.000000

In [16]:
'''
From the above correlation table, we can say that the coloumn userid, Gender and gendercat have no strong correlation with the purchase
so we can drop that coloumn
'''
data.drop(['User ID','Gender','GenCat'],inplace=True,axis=1)

In [17]:
data.head()

   Age  EstimatedSalary  Purchased
0   19            19000          0
1   35            20000          0
2   26            43000          0
3   27            57000          0
4   19            76000          0

In [19]:
x = data.iloc[:,:2]
y = data.iloc[:,-1]
xtrain, xtest, ytrain, ytest = train_test_split(x,y, test_size = 0.2)

In [20]:
# model for train
model = svm.SVC().fit(xtrain,ytrain)

In [22]:
#calculate predicted value
ypred = model.predict(xtest)
ypred

array([0, 0, 0, 1, 1, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
       0, 1, 1, 0, 0, 0, 0, 0, 1, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
       0, 1, 0, 1, 0, 0, 0, 0, 1, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0,
       0, 1, 1, 0, 0, 0, 1, 0, 1, 0, 1, 0, 0, 0], dtype=int64)

In [24]:
acc_score = accuracy_score(ytest,ypred)
pre_score = precision_score(ytest,ypred)
re_score = recall_score(ytest,ypred)

In [25]:
print('Accuracy is = ',acc_score,'\nPrecision is = ',pre_score,'\nRecall is = ',re_score)

Accuracy is =  0.75
Precision is =  0.7058823529411765
Recall is =  0.4444444444444444

In [26]:
print(classification_report(ytest,ypred))

              precision    recall  f1-score   support

           0       0.76      0.91      0.83        53
           1       0.71      0.44      0.55        27

    accuracy                           0.75        80
   macro avg       0.73      0.68      0.69        80
weighted avg       0.74      0.75      0.73        80

In [27]:
confusion_matrix(ytest,ypred)

array([[48,  5],
       [15, 12]], dtype=int64)

In [28]:
model.score(xtrain,ytrain)

0.778125