# Question 1 :
__Assuming that we have some email addresses in the "username@companyname.com" format, please
write a program to print the company name of a given email address. Both user names and company
names are composed of letters only.
Input Format:
The first line of the input contains an email address.
Output Format:
Print the company name in a single line.
Example;
Input:
john@google.com
Output:
google.__

In [6]:
string = input('Enter Email ID: ')
stra = string[::-1]
ind = stra.index('.')
ind2 = stra.index('@')
substr = stra[ind+1:ind2]
print("Output: ",substr[::-1])

Enter Email ID: srballal@yahoo.com
Output:  yahoo

# Question 2 :
__Write a program that accepts a comma-separated sequence of words as input and prints the words in a
comma-separated sequence after sorting them alphabetically.
Input Format:
The first line of input contains words separated by the comma.
Output Format:
Print the sorted words separated by the comma.
Example:
Input:
without,hello,bag,world
Output:
bag,hello,without,world__

In [15]:
lst = list(input('Enter values: ').split(','))
lst.sort()
for x in lst:
    print(x,end=',')

Enter values: without,hello,bag,world
bag,hello,without,world,

# Question 3:
__Create your own Jupyter Notebook for Sets. Reference link:
https://www.w3schools.com/python/python_sets.asp__

In [26]:
print("Sets and its functions are as follows:\n")
thisset = {"apple", "banana", "cherry"}
print("Orignal Set: ",thisset)
print("\nAdding an iten in set:")
thisset.add("orange")
print(thisset)
print("\nRemove an item in set:")
thisset.remove("banana")
print(thisset)
print("\nRemove the last item in set:")
x = thisset.pop()
print("Poped item is: ",x)
print(thisset)
print("\nEmpty the set:")
thisset.clear()
print(thisset)
print("\nUnion of two sets:")
set1 = {"a", "b" , "c"}
set2 = {1, 2, 3}
set3 = set1.union(set2)
print(set3)
print("\nUpdate in two sets:")
set1.update(set2)
print(set1)

Sets and its functions are as follows:

Orignal Set:  {'apple', 'cherry', 'banana'}

Adding an iten in set:
{'apple', 'cherry', 'banana', 'orange'}

Remove an item in set:
{'apple', 'cherry', 'orange'}

Remove the last item in set:
Poped item is:  apple
{'cherry', 'orange'}

Empty the set:
set()

Union of two sets:
{1, 2, 3, 'b', 'c', 'a'}

Update in two sets:
{1, 2, 3, 'b', 'c', 'a'}

# Question 4:
__Given a list of n-1 numbers ranging from 1 to n, your task is to find the missing number. There are no
duplicates.
Input Format:
The first line contains n-1 numbers with each number separated by a space.
Output Format:
Print the missing number
Example:
Input:
1 2 4 6 3 7 8
Output:
5
Explanation:
In the above list of numbers 5 is missing and hence 5 is the input__

In [40]:
x = int(input('Enter the range for list: '))
l = set(list(range(1,x)))
l1 = []
lst = set(input('Enter values: ').split(' '))
for i in lst:
    l1.append(int(i))
st = set(l1)
nst = l.difference(st)
print('\nMissing values:')
for i in nst:
    print(i,end=' ')

Enter the range for list: 10
Enter values: 5 1 4 2 6

Missing values:
8 9 3 7

# Question 5:
__With a given list L, write a program to print this list L after removing all duplicate values with original order
reserved.
Example:
If the input list is
12 24 35 24 88 120 155 88 120 155
Then the output should be
12 24 35 88 120 155
Explanation:
Third, the seventh and ninth element of the list L has been removed because it was already present.
Input Format:
In one line take the elements of the list L with each element separated by a space.
Output Format:
Print the elements of the modified list in one line with each element separated by a space.
Example:
Input:
12 24 35 24
Output:
12 24 35__

In [8]:
e = []
lst = list(input('Enter values: ').split(' '))
for x in lst:
    e.append(int(x))
d = set(e)
a = list(d)
a.sort()
for i in a:
    print(i,end=' ')

Enter values: 12 24 35 24 88 120 155 88 120 155
12 24 35 88 120 155